body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.stock {
    background: white;
    padding: 20px;
    width: 150px;
    border-radius: 10px;
}
.stock.up {
    color: green;
    font-weight: bold;
}

.stock.down {
    color: red;
    font-weight: bold;
}